@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
  --yellow: #cc902a;
  --darkcolor: #815406;
  --black: #444;
  --light-color: #666;
  --border: .1rem solid rgba(0,0,0, 0.1);
  --border-hover: .1rem solid #05668D;
  --box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
  transition: width none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--black);
}

section {
  padding: 5rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.heading::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 0.01rem;
  background: rgba(0,0,0, 0.1);
  z-index: -1;
}

.heading span {
  font-size: 3rem;
  padding: 0.5rem 2rem;
  color: #05668D;
  background: #fff;
  border: var(--border);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  border-radius: 0.5rem;
  color: #fff;
  background: var(--yellow);
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
}

.btn:hover {
  background: var(--darkcolor);
}

.header .header1 {
  background-color: #05668D;
  padding: 1.5rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header1 .logo {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
}

.header .header1 .logo:hover {
  color: var(--yellow);
}

.header .header1 .logo i {
  color: var(--yellow);
}

.header .header1 .search-form {
  width: 50rem;
  height: 5rem;
  border: var(--border);
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: .5rem;
}

.header .header1 .search-form input {
  font-size: 1.6rem;
  padding: 0 1.2rem;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: var(--black);
}

.header .header1 .search-form label {
  font-size: 2.5rem;
  padding-right: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

.header .header1 .search-form label:hover {
  color: var(--yellow);
}

.header .header1 .icons div, .header .header1 .icons a {
  font-size: 2.5rem;
  margin-left: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.header .header1 .icons div:hover, .header .header1 .icons a:hover {
  color: var(--yellow);
}

#search-btn {
  display: none;
}

.header .header2 {
  background: var(--yellow);
}

.header .header2  .navbar {
  text-align: center;
}

.header .header2 .navbar a {
  color: #fff;
  display: inline-block;
  padding: 1.2rem;
  font-size: 1.7rem;
}

.header .header2 .navbar a:hover {
  background: var(--darkcolor);
}

.header .header2.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

body {
  height: 300rem;
}

.navbar2 {
  text-align: center;
  background-color: #05668D;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
}

.navbar2 a {
  font-size: 2.5rem;
  padding: 2rem;
  color: #fff;
}

.navbar2 a:hover {
  background: var(--darkcolor);
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255, 0.9);
  position: fixed;
  top: 0;
  right: -105%;
  z-index: 10000;
  height: 100%;
  width: 100%;
}

.login-form.active {
  right: 0;
}


.login-form form {
  background: #fff;
  border: var(--border);
  width: 40rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  margin: 2rem;
}

.login-form form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
  text-align: center;
}

.login-form form span {
  display: block;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.login-form form .box {
  width: 100%;
  margin: 0.7rem 0;
  font-size: 1.6rem;
  border: var(--border);
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  color: var(--black);
  text-transform: none;
}

.login-form form .checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}

.login-form form .checkbox label {
  font-size: 1.5rem;
  color: var(--light-color);
  cursor: pointer;
}

.login-form form .btn {
  text-align: center;
  width: 100%;
  margin: 1.5rem 0;
}

.login-form form p {
  padding-top: 0.8rem;
  color: var(--light-color);
  font-size: 1.5rem;
}

.login-form form p a {
  color: var(--yellow);
  text-decoration: underline;
}

.login-form #close-login-btn {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 5rem;
  color: var(--black);
  cursor: pointer;
}

.home {
  background: url(../img/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 480px;
}

.home .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.home .row .content{
  flex: 1 1 42rem;
}

.home .row .img-slider {
  flex: 1 1 42rem;
  text-align: center;
  margin-top: 2rem;
}

.home .row .img-slider a img {
  height: 25rem;
}

.home .row .img-slider a:hover img {
  transform: scale(0.9);
}

.home .row .img-slider .stand {
  width: 100%;
  margin-top: -0.8rem;
}

.home .row .content h3 {
  color: #05668D;
  font-size: 4rem;
}

.home .row .content p {
  color: var(--light-color);
  font-size: 1.4rem;
  line-height: 2;
  padding: 1rem 0;
}

.iconscc {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.iconscc .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 0;
}

.iconscc .icons i {
  font-size: 3.5rem;
  color: #05668D;
}

.iconscc .icons h3 {
  font-size: 1.7rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}

.iconss .icons p {
  font-size: 1.4rem;
  color: var(--light-color);
  padding-bottom: 0.5rem;
}

.featured .produtos-slider .box {
  margin: 2rem 0;
  position: relative;
  overflow: hidden;
  border: var(--border);
  text-align: center;
}

.featured .produtos-slider .box:hover {
  border: var(--border-hover);
}

.featured .produtos-slider .box .image {
  padding: 1rem;
  background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured .produtos-slider .box:hover .image {
  transform: translateY(6rem);
}

.featured .produtos-slider .box .image img {
  height: 25rem;
}

.featured .produtos-slider .box .icons {
  border-bottom: var(--border-hover);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1;
  transform: translateY(-105%);
}

.featured .produtos-slider .box:hover .icons {
  transform: translateY(0%);
}

.featured .produtos-slider .box .icons a {
  color: var(--black);
  font-size: 2.2rem;
  padding: 1.3rem 1.5rem;
}

.featured .produtos-slider .box .icons a:hover {
  background: #05668D;
  color: #fff;
}

.featured .produtos-slider .box .content {
  background: #eee;
  padding: 1.5rem;
}

.featured .produtos-slider .box .content h3 {
  font-size: 1.6rem;
  color: var(--black);
}

.featured .produtos-slider .box .content .preco {
  font-size: 1.8rem;
  color: var(--black);
  padding-top: 1rem;
}

.featured .produtos-slider .box .content .preco  span{
  font-size: 1.5rem;
  color: var(--light-color);
  text-decoration: line-through;
}

.swiper-button-next, .swiper-button-prev {
  border: var(--border-hover);
  height: 4rem;
  width: 4rem;
  color: var(--black);
  background: #fff;
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 2rem;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  background: #05668D;
  color: #fff;
}

.newsletter {
  background: linear-gradient(rgba(0,0,0,0.66), rgba(0,0,0,0.66)), url(../img/banner2-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.newsletter form {
  max-width: 45rem;
  margin-left: auto;
  text-align: center;
  padding: 5rem 0;
}

.newsletter form h3 {
  font-size: 2.2rem;
  color: #fff;
  padding-bottom: 0.7rem;
  font-weight: normal;
}

.newsletter form .box {
  width: 100%;
  margin: 0.7rem 0;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: var(--black);
  border-radius: 0.5rem;
  text-transform: none;
}

.arrivals .arrivals-slider .box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 1rem;
  border: var(--border);
  margin: 1rem 0;
}

.arrivals .arrivals-slider .box:hover {
  border: var(--border-hover);
}

.arrivals .arrivals-slider .box .image img {
  height: 15rem;
}

.arrivals .arrivals-slider .box .content h3 {
  font-size: 2rem;
  color: var(--black);
}

.arrivals .arrivals-slider .box .preco {
  font-size: 2.2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}

.arrivals .arrivals-slider .box .preco span {
  font-size: 1.5rem;
  color: var(--light-color);
  text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .stars i {
  font-size: 1.5rem;
  color: var(--yellow);
}

.cadastros {
  background: #f3f3f3;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.cadastros .content {
  flex: 1 1 42rem;
}

.cadastros .image {
  flex: 1 1 42rem;
}

.cadastros .image img {
  width: 600px;
}

.cadastros .content h3 {
  font-size: 3.5rem;
  color: #05668D;
  padding-bottom: 4rem;
  font-weight: bold;
}

.cadastros .content h1 {
  color: var(--black);
  font-size: 4rem;
}

.cadastros .content p {
  color: var(--light-color);
  font-size: 1.5rem;
  line-height: 2;
  padding: 1rem 0;
}

.reviews .reviews-slider .box {
  border: var(--border);
  padding: 2rem;
  text-align: center;
  margin: 2rem 0;
}

.reviews .reviews-slider .box:hover {
  border: var(--border-hover);
}

.reviews .reviews-slider .box img {
  height: 9rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

.reviews .reviews-slider .box h3 {
  color: var(--black);
  font-size: 2.2rem;
  padding: 0.5rem 0;
}

.reviews .reviews-slider .box p {
  color: var(--light-color);
  font-size: 1.4rem;
  padding: 0.5rem 0;
  line-height: 2;
}

.reviews .reviews-slider .box .stars i {
  font-size: 1.7rem;
  color: var(--yellow);
}

.contato .contact-slider .box {
  margin:  2rem 0;
  border: var(--border);
}

.contato .contact-slider .box:hover {
  border: #05668D;
}

.contato .contact-slider .box .image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
}

.contato .contact-slider .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contato .contact-slider .box:hover .image img {
  transform: scale(1.1);
}

.contato .contact-slider .box .content {
  padding: 1.5rem;
}

.contato .contact-slider .box .content h3 {
  font-size: 2.2rem;
  color: var(--black);
}

.contato .contact-slider .box .content p {
  font-size: 1.4rem;
  color: var(--light-color);
  padding: 1rem 0;
  line-height: 2;
}
















/* responsividade */

@media (max-width: 991px) {
    html {
      font-size: 55%;
    }

    .header .header1 {
      padding: 2rem;
    }

    section {
      padding: 3rem 2 rem;
    }
 
}

@media (max-width: 768px) {

  html {
    scroll-padding-top: 0;
  }

  body {
    padding-bottom: 6rem;
  }

  .header .header2 {
    display: none;
  }

  .navbar2 {
    display: block;
  }

  #search-btn {
    display: inline-block;
  }

  .header .header1 {
    box-shadow: var(--box-shadow);
    position: relative;
  }

  .header .header1 .search-form {
    position: absolute;
    top: -115%;
    right: 2rem;
    width: 90%;
    box-shadow: var(--box-shadow);
  }

  .header .header1 .search-form.active {
    top: 115%;
  }

  .home .row .content {
    text-align: center;
  }

  .home .row .content h3 {
    font-size: 3.5rem;
  }

  .newsletter {
    background-position: right;
  }

  .newsletter form {
    margin-left: 0;
    max-width: 100%;
  }

  .cadastros .image img {
    width: 300px;
  }

}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
